html {
  width: 100vw;
  height: 100vh;
}

body {
  display: block;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  height: 100vh;
  background-color: white;
}

img {
  width: 65px;
    height: 65px;
    position: absolute;
    top: -5px;
    right: 3px;
}



.nav_dice {
      width: 40px;
      height: 40px;
      position: relative;
      top: 5px;
      transition: all 0s;
}

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -0.5px;
    font-size: 12px;
    margin: 10px;
    font-weight: 500;  
    
}

.nav-link {
  text-decoration: none;
  text-align:left;
  color: white;
  background-color: red;
  border-bottom: black solid 2px;
  padding-bottom: 5px;
  padding-right: 8px;
  margin: 4px;
  text-transform: uppercase;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(168, 20, 20);
}

.nav-link:hover .nav_dice {
  transform: rotate(270deg);
  transition: all 1s;
}

 #navbar :hover {
  color: black;
  transition: color 2s;
  font-size: 16px;
  transition: all 0.1s;
}

#navbar :active {
  color: gold;
}

.main_header {
  font-size: 30px;
  border: black solid 3px;
  padding: 5px;
  font-weight: 900;
  text-align: left;
  width: 90vw;
  position: fixed;
  background-color: red;
  box-shadow: 5px 5px 5px rgb(168, 20, 20);
  color: white;
  text-transform: uppercase;
  border-radius: 7px;
}

#main-doc {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
    overflow: scroll;

}

.main-div {
  position: absolute;
  left: 150px;
  margin: 10px;
}


.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 0;
    overflow: scroll;
    color: black;
    text-transform: none;
    font-weight: 500;
}

section {
  margin: 20px;
  font-size: 18px;
}

header {
  font-size: 18px;
  color: white;
  border-bottom: black solid 2px;
  background-color: red;
  text-transform: uppercase;
  border-radius: 7px;
  box-shadow: 5px 5px 5px black;
  width:780px;
  text-align: center;
}


@media (width: 400px){
  
.nav-link {
  font-size: 10px;
  color: gold;
  background-color: red;
  width: 75px;

}

}
